.active {
    color: rgb(193, 42, 42);
  }
  
  .inactive{
    color: rgb(210, 204, 204);
  }
  
  .NavBar{
    font-size: 5em;
    background-color: beige;
  }
  
  .navbar-custom {
  background-color: rgb(0, 0, 0);
}
  
logo-img{
    width: 100px;
}