body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.active {
  color: darkgreen;
}

.NavBar{
  font-size: 5em;
  background-color: beige;
}

